extends ./../layouts/content.pug

block inner-content
    h2 Blog
    each article, title in articles
        div(class='blog-article-preview')
            a(href=article.link)
                h3= title
            div(class='date-label')= article.date
            p= article.snippet
                a(href=article.link)  [...]